@model OnlineTelMag.Data.Brand

@{
    ViewData["Title"] = "Delete";
}

<h1>Изтрий</h1>

<h3>Сигурни ли сте ,че искате да го изтриете ?</h3>
<div>
    <h4>Модел</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Име
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameBrand)
        </dd>
        <dt class = "col-sm-2">
           Модел
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameModel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> |
        <a style="color:lime" asp-action="Index">Назад</a>
    </form>
</div>
