@model OnlineTelMag.Models.TelephoneVM

@{
    ViewData["Title"] = "Create";
}

<h1>Създай</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TelName" class="control-label">Име</label>
                <input asp-for="TelName" class="form-control" />
                <span asp-validation-for="TelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label">Модел</label>
                <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Prise" class="control-label">Цена</label>
                <input asp-for="Prise" class="form-control" />
                <span asp-validation-for="Prise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label">Цвят</label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Broi" class="control-label">Брой</label>
                <input asp-for="Broi" class="form-control" />
                <span asp-validation-for="Broi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label">Изображение</label>
                <input asp-for="ImagePath" class="form-control-file" multiple />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a style="color:lime" asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
