@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли !</h1>
    <br />
    <br />
    <p><h4>Вижте най-новите ни продукти ! <a href="https://localhost:44394/Telephones" style="color:lime">Натисни тук!</a></h4></p>
    <a href="index.html"><img src="images/nachalo.jpeg"></a>
</div>
