@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли !</h1>
    <br />
    <br />
    <p>Вижте най-новите ни продукти ! <a href="https://localhost:44394/Telephones">Натисни тук!</a>.</p>
    <a href="index.html"><img src="images/nachalo.jpeg"></a>
</div>
